{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_activity_list' %}">Activity Listing</a></p>
<table class="table">
<tr><td>daily_start</td><td>{{ object.daily_start }}</td></tr>
<tr><td>daily_end</td><td>{{ object.daily_end }}</td></tr>
<tr><td>activity</td><td>{{ object.activity }}</td></tr>
<tr><td>comment</td><td>{{ object.comment }}</td></tr>
<tr><td>work_done</td><td>{{ object.work_done }}</td></tr>
<tr><td>percentage_executed</td><td>{{ object.percentage_executed }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Activity</a>

{% endblock %}