{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_programmeperformance_list' %}">ProgrammePerformance Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>comments</td>
    <td>learning_points</td>
    <td>recommendations</td>
    <td>participant_suggestions</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.comments }}</td>
    <td>{{ object.learning_points }}</td>
    <td>{{ object.recommendations }}</td>
    <td>{{ object.participant_suggestions }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_programmeperformance_create' %}">Create new ProgrammePerformance</a>
{% endblock %}