{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_weather_list' %}">Weather Listing</a></p>
<table class="table">
<tr><td>temperature</td><td>{{ object.temperature }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>temperature_unit</td><td>{{ object.temperature_unit }}</td></tr>
<tr><td>wind_speed</td><td>{{ object.wind_speed }}</td></tr>
<tr><td>wind_speed_unit</td><td>{{ object.wind_speed_unit }}</td></tr>
<tr><td>humidity</td><td>{{ object.humidity }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Weather</a>

{% endblock %}