{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_activity_list' %}">Activity Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>daily_start</td>
    <td>activity</td>
    <td>comment</td>
    <td>percentage_executed</td>
    <td>daily_end</td>
    <td>work_done</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.daily_start }}</td>
    <td>{{ object.activity }}</td>
    <td>{{ object.comment }}</td>
    <td>{{ object.percentage_executed }}</td>
    <td>{{ object.daily_end }}</td>
    <td>{{ object.work_done }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_activity_create' %}">Create new Activity</a>
{% endblock %}