{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_agriculturalprogramme_list' %}">AgriculturalProgramme Listing</a></p>
<table class="table">
<tr><td>comments</td><td>{{ object.comments }}</td></tr>
<tr><td>end</td><td>{{ object.end }}</td></tr>
<tr><td>targets</td><td>{{ object.targets }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>start</td><td>{{ object.start }}</td></tr>
<tr><td>purpose</td><td>{{ object.purpose }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit AgriculturalProgramme</a>

{% endblock %}