{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_contamination_list' %}">Contamination Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>contamination_degree</td>
    <td>noticed_date</td>
    <td>contaimination_type</td>
    <td>noticed_time</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.contamination_degree }}</td>
    <td>{{ object.noticed_date }}</td>
    <td>{{ object.contaimination_type }}</td>
    <td>{{ object.noticed_time }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_contamination_create' %}">Create new Contamination</a>
{% endblock %}