{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_cropspecies_list' %}">CropSpecies Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>genetically_modified_organism</td>
    <td>variety</td>
    <td>name</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.genetically_modified_organism }}</td>
    <td>{{ object.variety }}</td>
    <td>{{ object.name }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_cropspecies_create' %}">Create new CropSpecies</a>
{% endblock %}