{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_fertilizationrecommendation_list' %}">FertilizationRecommendation Listing</a></p>
<table class="table">
<tr><td>application_measured_unit</td><td>{{ object.application_measured_unit }}</td></tr>
<tr><td>application_quantity</td><td>{{ object.application_quantity }}</td></tr>
<tr><td>substance_contained</td><td>{{ object.substance_contained }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit FertilizationRecommendation</a>

{% endblock %}