{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_fieldcultivation_list' %}">FieldCultivation Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>duration_unit</td>
    <td>duration_of_use</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.duration_unit }}</td>
    <td>{{ object.duration_of_use }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_fieldcultivation_create' %}">Create new FieldCultivation</a>
{% endblock %}