{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_programperformance_list' %}">ProgramPerformance Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>participants</td>
    <td>program_activities</td>
    <td>created</td>
    <td>last_updated</td>
    <td>comments</td>
    <td>learning_points</td>
    <td>recommendations</td>
    <td>participants_suggestions</td>
    <td>event_coverage</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.participants }}</td>
    <td>{{ object.program_activities }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.comments }}</td>
    <td>{{ object.learning_points }}</td>
    <td>{{ object.recommendations }}</td>
    <td>{{ object.participants_suggestions }}</td>
    <td>{{ object.event_coverage }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'agro_app_programperformance_create' %}">Create new ProgramPerformance</a>
{% endblock %}