{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'agro_app_programmeperformance_list' %}">ProgrammePerformance Listing</a></p>
<table class="table">
<tr><td>event_coverage</td><td>{{ object.event_coverage }}</td></tr>
<tr><td>programme_activities</td><td>{{ object.programme_activities }}</td></tr>
<tr><td>comments</td><td>{{ object.comments }}</td></tr>
<tr><td>participants</td><td>{{ object.participants }}</td></tr>
<tr><td>learning_points</td><td>{{ object.learning_points }}</td></tr>
<tr><td>participant_suggestions</td><td>{{ object.participant_suggestions }}</td></tr>
<tr><td>recommendations</td><td>{{ object.recommendations }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ProgrammePerformance</a>

{% endblock %}